#titleName{
padding-top:0px;
margin-top:0px;
background-color:#00029E;
font-size:35px;
color:white;
text-align:center;
}
#health1{
width:680px;
height:500px;
margin-top:50px;
margin-left:20px;
border:8px solid #00029E;
}
#health2{
width:680px;
height:500px;
margin-top:50px;
margin-right:20px;
border:8px solid #00029E;
float:right;

}
#healthDescription1{
padding-top:200px;
font-size:35px;
}
#healthParagraph1{
padding-top:30px;
}

#healthDescription2{
padding-top:80px;
font-size:35px;
}
#healthParagraph2{
padding-top:30px;
}
#health3{
width:680px;
height:500px;
margin-top:70px;
margin-left:20px;
border:8px solid #00029E;
float:right;

}

#health5{
width:680px;
height:500px;
margin-top:70px;
margin-left:20px;
border:8px solid #00029E;
float:right;
}
#healthDescription3{
padding-top:250px;
font-size:35px;
}
#healthParagraph3{
padding-top:30px;
}

#healthDescription4{
padding-top:80px;
font-size:35px;
}
#healthParagraph4{
padding-top:30px;
}

#healthDescription5{
padding-top:250px;
font-size:35px;
}
#healthParagraph5{
padding-top:30px;
}


